name: C++

on: [push, pull_request]

defaults:
  run:
    shell: bash  # For -o pipefail

jobs:
  build:
    if: >-
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get install libisal-dev
      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: brew install isa-l
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build build -j 3
          cmake --install build
      - name: Run
        run: build/test-strobealign --no-intro

  pythonbindings:
    if: >-
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get install libisal-dev
      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: brew install isa-l
      - name: Install Python dependencies
        run: pip install pytest
      - name: Install Python bindings
        run: pip install .
      - name: Run tests
        run: pytest tests
