name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    # Run for PRs only if they come from a forked repo (avoids duplicate runs)
    if: >-
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v5
    - name: Check formatting
      run: cargo fmt --check
    - name: Build
      run: cargo build --verbose
    - name: Run cargo test
      run: cargo test --verbose
    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: sudo apt-get install samtools
    - name: Install macOS dependencies
      if: runner.os == 'macOS'
      run: brew install samtools
    - name: Run shell test
      run: tests/rust.sh

  compare:
    if: >-
      github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Baseline comparison needs older commits
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install samtools python3-pysam picard-tools libisal-dev
      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: brew install samtools pysam picard-tools isa-l
      - name: Cache test dataset
        uses: actions/cache@v4
        with:
          key: test-data-${{ hashFiles('tests/download.sh') }}
          path: tests/drosophila/
      - name: Find baseline commit
        run: |
          echo "ci_baseline_commit=$(git --no-pager log -n1 --pretty=format:%H --grep='^Is-new-baseline: yes')" >> "$GITHUB_ENV"
      - name: Cache baseline BAM
        id: cache-baseline-bam
        uses: actions/cache@v4
        with:
          key: baseline-bam-${{ env.ci_baseline_commit }}
          path: baseline/bam/
      - name: Compare to baseline (paired-end)
        run: tests/compare-baseline.sh
      - name: Validate with Picard
        run: |
          PicardCommandLine ValidateSamFile IGNORE=RECORD_MISSING_READ_GROUP IGNORE=MISSING_READ_GROUP I=head.bam
      - name: Compare to baseline (single-end)
        run: tests/compare-baseline.sh -s
      - name: Validate with Picard
        run: |
          PicardCommandLine ValidateSamFile IGNORE=RECORD_MISSING_READ_GROUP IGNORE=MISSING_READ_GROUP I=head.bam
